.skillsBlock {
    height: 100vh;
    background-color: #14ff00;
}
.skillsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: rgb(30, 218, 153);
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}